/Buscaminas/nbproject/private/
/Buscaminas/build/
/ProyectoAula/nbproject/private/
/Buscaminas/dist/
/ProyectoAula/build/
/Pruebas/nbproject/private/
/Pruebas/build/
/Serializacion/nbproject/private/
/Serializacion/build/
/Calificaciones/nbproject/private/